.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 600px 100px;
    grid-gap: 0px;
    color: white;
    text-align: center;
}

.site-header {
    background-color: cyan;
    grid-row-start: 1;
    grid-row-end: 4;
}

.site-main {
    background-color: darkkhaki;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.widget-area {
    background-color: darkmagenta;
    grid-row: 1 / -1;
    grid-column: 3 / -1;
}

.footer {
    background-color: darkblue;
    grid-column: 2 / 3;
}

@media (min-width:1024px) {
    .site-main {
        background-color: tomato;
    }
}